/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* variables */
:root {
  --soft-red: #fe7867;
  --yellow: #fad400;
  --dark-desaturated-cyan: #25564b;
  --dark-blue: #19536b;
  --dark-moderate-cyan: #458c7e;
  --very-dark-desaturated-blue: #23303e;
  --very-dark-grayish-blue: #5a636c;
  --dark-grayish-blue: #818498;
  --grayish-blue: #a7abae;
  --white: #ffffff;
  --footer: #90d4c6;
}

/* RESETS */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
/* GLOBAL STYLES */
img {
  display: block;
}
body {
  background-color: #3dbeff;
}
.grid-container,
.testimonials-section {
  background-color: white;
}

.page-container {
  /* max-width: 700px; */
  /* border: 1px solid black; */
  position: relative;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}

/* HEADER AND NAV */
nav {
  background-color: cornflowerblue;
  background: transparent;
  padding: 2rem 1.5rem;
  position: absolute;
  /* position: fixed; */
  width: 100%;
  top: 0;
  background-color: #3dbeff;
  z-index: 5;
  max-width: 1600px;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.max-width-container {
  display: flex;
  justify-content: center;
  background-color: #3dbeff;
}

.nav-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: none;
}
.menu ul li {
  list-style: none;
}
/* Menu toggle class */
.show-menu {
  display: block;
  margin-top: 50px;
  background-color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 8px 0 8px 8px;
}
.show-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.show-menu ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--dark-grayish-blue);
  display: block;
}

.contact-link {
  padding: 1rem 2rem;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.107143px;
}
.contact-link.mobile {
  background-color: var(--yellow);
  color: var(--very-dark-desaturated-blue);
  border-radius: 28px;
}
.show-menu::before {
  content: '';
  position: absolute;
  top: -24px;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid white;
}
/* HERO */
.hero {
  background-image: url('./images/mobile/image-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  padding-top: 144px;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
  letter-spacing: 6.25px;
  margin-bottom: 3.25rem;
}
.arrow {
  margin: 0 auto;
}

/* MAIN SECTION */
/* .grid-container {
  max-width: 1600px;
  margin: 0 auto;
} */

/* main-section images */
.images,
.text-with-image {
  height: 312px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text-with-image {
  height: 600px;
}

.egg-img {
  background-image: url('./images/mobile/image-transform.jpg');
}
.glass-img {
  background-image: url('./images/mobile/image-stand-out.jpg');
}
.cherry-img {
  background-image: url('./images/mobile/image-graphic-design.jpg');
}
.orange-img {
  background-image: url('./images/mobile/image-photography.jpg');
}

/* main-section text */
.text-content {
  padding: 64px 1.5rem;
  text-align: center;
}
.text-content h2 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  letter-spacing: -0.228571px;
  line-height: 39px;
  margin-bottom: 1.5rem;
}
.text-content p {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: var(--dark-grayish-blue);
  margin-bottom: 3rem;
}
.text-content a {
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.yellow-background::after,
.red-background::after {
  content: '';
  position: absolute;
  bottom: -8%;
  left: -2%;
  height: 10px;
  width: 105%;
  background: var(--yellow);
  opacity: 0.25;
  border-radius: 28px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
.red-background::after {
  background: var(--soft-red);
}

.yellow-background:hover::after,
.red-background:hover::after {
  opacity: 1;
}

/* main section text with images */

.text-with-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 1.5rem;
  text-align: center;
}
.text-with-image h2 {
  font-family: 'Fraunces', serif;
  font-size: 1.75rem;
  color: var(--dark-desaturated-cyan);
  font-weight: 900;
  letter-spacing: -0.2px;
  margin-bottom: 27px;
}
.text-with-image p {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.11px;
  color: var(--dark-desaturated-cyan);
  width: clamp(200px, 340px, 380px);
}
.text-with-image.orange-img h2 {
  color: var(--dark-blue);
}
.text-with-image.orange-img p {
  color: var(--dark-blue);
}
/* TESTOMONIALS SECTION */

.testimonials-section {
  padding: 4rem 0 5.375rem 0;
  margin: 0 auto;
}
.testimonials-section h3 {
  font-family: 'Fraunces', serif;
  font-size: 16px;
  color: var(--grayish-blue);
  font-weight: 900;
  letter-spacing: 4px;
  /* margin-bottom: 4rem; */
  text-transform: uppercase;
  text-align: center;
  flex-basis: 100%;
}
.testimonials-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: 0 auto;
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}
.testimonial img {
  border-radius: 50%;
  height: 72px;
  width: 72px;
}
.testimonial p {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.13px;
  color: var(--very-dark-grayish-blue);
  min-width: 150px;
  max-width: 350px;
}
.name-container h4 {
  font-family: 'Fraunces', serif;
  font-size: 18px;
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  letter-spacing: -0.13px;
  margin-bottom: 0.5rem;
}
.name-container p {
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: var(--grayish-blue);
}

/* IMAGES ABOVE FOOTER */
.milk-bottle {
  background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
}
.orange-on-plate {
  background-image: url('./images/mobile/image-gallery-orange.jpg');
}
.cone {
  background-image: url('./images/mobile/image-gallery-cone.jpg');
}
.sugar-cubes {
  background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
}
.img-above-footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 188px;
  width: 100%;
  margin: 0 auto;
}
.images-above-footer-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
}
/* FOOTER */
.footer-container {
  background-color: var(--footer);
}
footer {
  max-width: 300px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo img {
  width: 170px;
  height: 33px;
}
.footer-logo {
  margin-bottom: 40px;
}
.footer-links ul,
.social-media-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.footer-links li,
.social-media-icons li {
  list-style: none;
}
.footer-links a {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.13px;
  color: var(--dark-moderate-cyan);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--white);
  transition: all 0.2s ease-in-out;
}
.footer-links {
  margin-bottom: 5.5rem;
}
.social-media-icons ul {
  justify-content: center;
  gap: 1.75rem;
}
.social-media-icons li a img:hover {
  /* filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(102deg)
    brightness(105%) contrast(101%); */
  filter: brightness(10);
  transition: all 0.2s ease-in-out;
}

/* MEDIA QUERIES */

@media (min-width: 550px) {
  .egg-img {
    background-image: url('./images/desktop/image-transform.jpg');
  }
  .glass-img {
    background-image: url('./images/desktop/image-stand-out.jpg');
  }
  .cherry-img {
    background-image: url('./images/desktop/image-graphic-design.jpg');
  }
  .orange-img {
    background-image: url('./images/desktop/image-photography.jpg');
  }
  .milk-bottle {
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
  }
  .orange-on-plate {
    background-image: url('./images/desktop/image-gallery-orange.jpg');
  }
  .cone {
    background-image: url('./images/desktop/image-gallery-cone.jpg');
  }
  .sugar-cubes {
    background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
  }
  .egg-img,
  .glass-img,
  .cherry-img,
  .orange-img,
  .milk-bottle,
  .orange-on-plate,
  .cone,
  .sugar-cubes {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    margin: 0 auto;
  }
  .hero {
    background-image: url('./images/desktop/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
  }
}
/* mobile */
@media (min-width: 800px) {
  /* HEADER AND NAV */
  .hamburger-btn {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.875rem 2.5rem;
  }
  .nav-icons-container img {
    width: 170px;
    height: 33px;
  }
  .menu {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    gap: 3rem;
  }
  .menu a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    display: block;
    font-size: 18px;
  }
  .menu a:hover {
    color: black;
    transition: all 0.2s ease-in-out;
  }

  .contact-link.desktop {
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
  }
  .contact-link.desktop:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
  /*HERO  */
  .hero {
    background-image: url('./images/desktop/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
  }
  .hero h1 {
    padding-top: 195px;
    font-size: 3.5rem;
    margin-bottom: 96px;
  }

  /* MAIN SECTION */
  /* main-section images */
  .egg-img {
    background-image: url('./images/desktop/image-transform.jpg');
  }
  .glass-img {
    background-image: url('./images/desktop/image-stand-out.jpg');
  }
  .cherry-img {
    background-image: url('./images/desktop/image-graphic-design.jpg');
  }
  .orange-img {
    background-image: url('./images/desktop/image-photography.jpg');
  }

  /*Grid properties */
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px 600px;
    gap: 0px 0px;
  }
  .col-1 {
    grid-column: 1 / 2;
  }
  .col-2 {
    grid-column: 2 / 3;
  }
  .row-1 {
    grid-row: 1 / 2;
  }
  .row-2 {
    grid-row: 2 / 3;
  }
  .images {
    height: 100%;
  }
  /* text properties */
  .text-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: clamp(1rem, 110px, 130px);
    padding-left: 3rem;
  }
  .text-layout-container {
    max-width: 445px;
    text-align: left;
  }
  .text-layout-container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 49px;
  }
  /* .text-with-image p {
    max-width: 340px;
  } */
  /* TESTIMONIALS SECTION */
  .testimonials-section {
    padding: 160px 1.5rem;
  }
  .testimonials-flex-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .testimonial {
    flex-basis: 30%;
    padding: 0;
    gap: 0;
  }
  .testimonials-section h3 {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .testimonial img {
    margin-bottom: 58px;
  }
  .testimonial p {
    margin-bottom: 70px;
  }
  /* IMAGES ABOVE FOOTER */
  .images-above-footer-grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .milk-bottle {
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
  }
  .orange-on-plate {
    background-image: url('./images/desktop/image-gallery-orange.jpg');
  }
  .cone {
    background-image: url('./images/desktop/image-gallery-cone.jpg');
  }
  .sugar-cubes {
    background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
  }
  .img-above-footer {
    min-height: 450px;
  }
}
