/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
/* variables */
:root {
  --soft-red: #fe7867;
  --yellow: #fad400;
  --dark-desaturated-cyan: #25564b;
  --dark-blue: #19536b;
  --dark-moderate-cyan: #458c7e;
  --very-dark-desaturated-blue: #23303e;
  --very-dark-grayish-blue: #5a636c;
  --dark-grayish-blue: #818498;
  --grayish-blue: #a7abae;
  --white: #ffffff;
}

/* RESETS */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.page-container {
  max-width: 500px;
  border: 1px solid black;
  position: relative;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

/* HEADER AND NAV */
nav {
  background-color: cornflowerblue;
  background: transparent;
  padding: 2rem 1.5rem;
  position: absolute;
  width: 100%;
  top: 0;
  /* border: 1px solid black; */
}

.nav-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: none;
}
.menu ul li {
  list-style: none;
}
/* Menu toggle class */
.show-menu {
  display: block;
  margin-top: 50px;
  background-color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.show-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.show-menu ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--dark-grayish-blue);
  display: block;
}

.contact-link {
  padding: 1rem 2rem;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.107143px;
}
.contact-link.mobile {
  background-color: var(--yellow);
  color: var(--very-dark-desaturated-blue);
  border-radius: 28px;
}
.show-menu::before {
  content: '';
  position: absolute;
  top: -25px;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid white;
}
/* HERO */
.hero {
  background-image: url('./images/mobile/image-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero h1 {
  padding-top: 144px;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
  letter-spacing: 6.25px;
}

@media (min-width: 700px) {
  .page-container {
    max-width: 1600px;
    margin: 0 auto;
  }
  /* HEADER AND NAV */
  .hamburger-btn {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.875rem 2.5rem;
  }
  .nav-icons-container img {
    width: 170px;
    height: 33px;
  }
  .menu {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    gap: 3rem;
  }
  .menu a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    display: block;
    font-size: 18px;
  }

  .contact-link.desktop {
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
  }
  /*HERO  */
  .hero {
    background-image: url('./images/desktop/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
  }
  .hero h1 {
    padding-top: 195px;
    font-size: 3.5rem;
  }
}
